<div id="ficheAgent">
    <div class="modal-header">
        <div class="row">
            <div class="col-sm-6">
                <h3 class="modal-title" >Fiche Agent</h3>
            </div>
            <div class="col-sm-6">
                <a tooltip-placement="top" tooltip="fermer" class="pull-right">
                    <button class="btn btn-xs btn-warning" ng-click="cancel()">
                        <i class="glyphicon glyphicon-remove"></i>
                    </button>
                </a>
            </div>
        </div>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-sm-12">
                <alert ng-repeat="alert in alerts" type="{{alert.type}}" class="animate-repeat" close="closeAlert($index)">{{alert.msg}}</alert>
            </div>
            <div class="col-sm-12">
                <agent-form form-data="agent" validate="validate" init-edit="false" add-error="addError" edit="edit"></agent-form>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 visite">
                <table class="table table-hover table-condensed">
                    <thead>
                        <tr>
                            <td colspan="6">
                                <h4>Visite Médicale</h4>
                            </td>
                        </tr>
                        <tr>
                            <td>Date VM</td>
                            <td>Fiche</td>
                            <td>Statut</td>
                            <td>Nature</td>
                            <td>Fin d'Arrêt</td>
                            <td>Courriel</td>
                        </tr>
                    </thead>
                    <tbody class="table-hover">
                        <tr ng-repeat="v in agent.vm">
                            <td>{{v.date|date:'dd/MM/yyyy'}}</td>
                            <td><a class="openModal" ng-click="openVM(v.id)">n° : {{v.id}}</a></td>
                            <td>{{v.statut}}</td>
                            <td>{{v.natureVM}}</td>
                            <td>{{agent.dateArretTravail|date:'dd/MM/yyyy'}}</td>
                            <td>{{v.dateEnvoisCourrierAgent|date:'dd/MM/yyyy'}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <table class="table table-hover table-condensed">
                    <thead>
                        <tr>
                            <td colspan="5">
                                <h4>Bilan sanguin</h4>
                            </td>
                        </tr>
                        <tr>
                            <td>Prescription</td>
                            <td>Date BS</td>
                            <td>Fiche</td>
                            <td>Statut</td>
                            <td>Convocation</td>
                        </tr>
                    </thead>
                    <tbody class="table-hover">
                        <tr ng-repeat="b in agent.bs">
                            <td>{{b.datePrescription|date:'dd/MM/yyyy'}}</td>
                            <td>{{b.datePassage|date:'dd/MM/yyyy'}}</td>
                            <td ng-if="medecin || access"><a class="openModal" ng-click="openBS(b.id)">n° : {{b.id}}</a></td>
                            <td ng-if="!(medecin || access)">n° : {{b.id}}</td>
                            <td>{{b.statut}}</td>
                            <td>{{b.dateConvocation|date:'dd/MM/yyyy'}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <form class="form-horizontal" role="form">
                    <div class="checkbox col-sm-3">
                        <label>
                            <input type="checkbox" name="prioritaireVM" ng-model="agent.prioritaireVM" ng-disabled="!access">PRIORITAIRE VM
                        </label>
                    </div>
                    <label class="col-sm-2 control-label">Nature VM</label>
                    <div class="col-sm-3">
                        <select ng-disabled="!access" class="form-control input-xs" name="natureVM" ng-model="agent.natureVM" ng-options="nature for nature in natureVM"></select>
                    </div>
                    <div class="col-sm-4">
                        <input ng-disabled="!access" class="form-control input-xs"  type="text"  placeholder="autre" name="autreNatureVM" ng-model="agent.autreNatureVM">
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <div class="row">
            <div class="col-sm-3">Créée le : {{agent.dateCreation| date}}</div>
            <div class="col-sm-9">
                <a class="btn btn-primary btn-sm" href="pdf/ficheAgent?id={{agent.id}}">
                    <i class="glyphicon glyphicon-print"></i> Imprimer
                </a>
                <button type="button" class="btn btn-sm btn-primary" ng-click="edit()" ng-show="access">
                    <i class="glyphicon glyphicon-edit"></i> Modifier
                </button>
                <button type="button" class="btn btn-primary btn-sm" ng-click="ok(validate())" ng-show="access">
                    <i class="glyphicon glyphicon-floppy-save"></i> Enregistrer
                </button>
                <button class="btn btn-sm btn-warning" ng-click="cancel()">
                    <i class="glyphicon glyphicon-remove"></i> Fermer
                </button>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3">Modifiée le : {{agent.dateModification| date}}</div>
            <div class="col-sm-9">
                <div class="checkbox">
                    <label>
                        <input type="checkbox" ng-model="agent.archive" ng-disabled="!access" >ARCHIVER
                    </label>
                </div>
            </div>
        </div>
    </div>
</div>