<div id="dateBs">
    <div class="modal-header">
        <h3 class="modal-title" ng-click="test()">Nouvelle Date BS</h3>
    </div>
    <div class="modal-body">
        <alert ng-repeat="alert in alerts" type="{{alert.type}}" class="animate-repeat" close="closeAlert($index)">{{alert.msg}}</alert>
        <form name="newDate" class="form-horizontal" role="form">
            <div class="col-sm-12">
                <label class="radio-inline">
                    <input type="radio" name="inlineRadioOptions" ng-model="date.periode" id="journée" value="false"> Journée
                </label>
                <label class="radio-inline">
                    <input type="radio" name="inlineRadioOptions" ng-model="date.periode" id="periode" value="true"> Période
                </label>
            </div>

            <div class="form-group" ng-hide="date.periode">
                <label for="dateVM"  class="col-sm-3 control-label">Date</label>
                <div class="col-sm-9">
                    <input ng-click="calendrierDate.open($event)"
                           id="dateVM"
                           type="text"
                           class="form-control input-xs inputDate" 
                           datepicker-popup="{{calendrierDate.format}}"
                           ng-model="date.value"
                           is-open="calendrierDate.opened"
                           close-text="Fermer"
                           show-button-bar="false"
                           />
                </div>
            </div>
            <div class="form-group" ng-show="date.periode">
                <label for="debutVM"  class="col-sm-3 control-label">Début</label>
                <div class="col-sm-9">
                    <input ng-click="calendrierDebut.open($event)"
                           id="debutVM" 
                           type="text"
                           class="form-control input-xs inputDate" 
                           datepicker-popup="{{calendrierDebut.format}}"
                           ng-model="date.debut"
                           is-open="calendrierDebut.opened"
                           close-text="Fermer"
                           show-button-bar="false"
                           />
                </div>
                <label for="finVM"  class="col-sm-3 control-label">Fin</label>
                <div class="col-sm-9">
                    <input id="finVM"
                           ng-click="calendrierFin.open($event)"
                           type="text"
                           class="form-control input-xs inputDate"
                           datepicker-popup="{{calendrierFin.format}}"
                           ng-model="date.fin"
                           is-open="calendrierFin.opened"
                           close-text="Fermer"
                           show-button-bar="false"
                           />
                </div>

            </div>
            <div class="form-group">
                <label for="site" class="col-sm-3 control-label">Site</label>
                <div class="col-sm-9">
                    <select class="form-control input-xs" id="site" name="site" ng-model="site" ng-options="s.valeur for s in sites" required="required" ></select>
                </div>
            </div>
            <div class="form-group">
                <label for="lieu" class="col-sm-3 control-label">Lieu</label>
                <div class="col-sm-9">
                    <select class="form-control input-xs" id="lieu" name="lieu" ng-model="lieu" ng-options="l.valeur for l in lieux" required="required" ></select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">Créneau</label>
                <div class="col-sm-9">
                    <select class="form-control input-xs" name="creneau" ng-model="creneau" ng-options="c.valeur for c in creneaux" required="required"></select>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary btn-sm" ng-click="ok(newDate)">
            <i class="glyphicon glyphicon-floppy-save"></i> Enregistrer
        </button>
        <button class="btn btn-warning btn-sm" ng-click="cancel()">
            <i class="glyphicon glyphicon-remove"></i> Fermer
        </button>
    </div>
</div>
