<div id="ficheAgent">
    <form role="form" name="password">
        <div class="modal-header">
            <div class="row">
                <div class="col-sm-12">
                    <h3 class="modal-title" >Changer de mot de passe</h3>
                </div>
            </div>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        <label for="holdPassword">Ancien mot de passe</label>
                        <input type="password" class="form-control" id="holdPassword" ng-model="hold" required>
                    </div>
                    <div class="form-group">
                        <label for="newPassword1">Nouveau mot de passe</label>
                        <input type="password" class="form-control" id="newPassword1" ng-model="new1" required>
                    </div>
                    <div class="form-group">
                        <label for="newPassword2">Répéter :</label><span ng-if="new1 !== new2" class="text-danger"> différence détecté</span>
                        <input type="password" class="form-control" id="newPassword2" ng-model="new2" required>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <div class="row">
                <div class="col-sm-12">
                    <alert ng-repeat="alert in alerts" type="{{alert.type}}" class="animate-repeat" close="closeAlert($index)">{{alert.msg}}</alert>
                </div>
                <div class="col-sm-12">
                    <button class="btn btn-sm btn-primary" ng-click="ok(hold, new1, new2, password)">
                        <i class="glyphicon glyphicon-save"></i> Valider
                    </button>
                    <a class="btn btn-sm btn-warning" ng-click="cancel()">
                        <i class="glyphicon glyphicon-remove"></i> Fermer
                    </a>
                </div>
            </div>
        </div>
    </form>
</div>