<div id="vmModal">
    <div class="modal-header">
        <div class="row">
            <div class="col-lg-3">
                <img src="img/logo-INRA-transp-small.png" alt="logo INRA">
            </div>
            <div class="col-lg-6">
                <h3 class="modal-title">Fiche de visite médicale N° : {{vm.id}}</h3>
            </div>
            <div class="col-lg-3">
                <a tooltip-placement="top" tooltip="fermer" class="pull-right">
                    <button class="btn btn-xs btn-warning" ng-click="cancel()">
                        <i class="glyphicon glyphicon-remove"></i>
                    </button>
                </a>
            </div>
        </div>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-success">
                    <div class="panel-heading">
                        <h4>Agent : {{vm.matricule}}</h4>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-sm-6">
                                <label class="col-sm-4 control-label text-right">Date de VM:</label>
                                <span class="col-sm-8 row">{{vm.date|date}}</span>
                            </div>
                            <div class="col-sm-6">
                                <label class="col-sm-4 control-label text-right">Statut:</label>
                                <span class="col-sm-8 row">{{vm.statut}}</span>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-6">
                                <label class="col-sm-4 control-label text-right">Nom:</label>
                                <span class="col-sm-8 row">{{vm.nom}} {{vm.prenom}}</span>
                            </div>
                            <div class="col-sm-6">
                                <label class="col-sm-4 control-label text-right">Né(e) le:</label>
                                <span class="col-sm-8 row">{{vm.dateNaissance| date}}</span>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-6">
                                <label class="col-sm-4 control-label text-right">Unité:</label>
                                <span class="col-sm-8 row">{{vm.uniteAgent}}</span>
                            </div>
                            <div class="col-sm-6">
                                <label class="col-sm-4 control-label text-right">Emploi:</label>
                                <span class="col-sm-8 row">{{vm.libEmploi}}</span>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-6">
                                <label class="col-sm-4 control-label text-right">Site:</label>
                                <span class="col-sm-8 row">{{vm.site}}</span>
                            </div>
                            <div class="col-sm-6">
                                <label class="col-sm-4 control-label text-right">Médecin:</label>
                                <span ng-if="!medecin" class="col-sm-8 row">{{vm.refMedecin}}</span>
                                <select class="col-sm-8 row" ng-if="medecin" ng-model="vm.refMedecin" ng-options="medecin for medecin in medecins"></select>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-6">
                                <label class="col-sm-4 control-label text-right">Lieu:</label>
                                <span class="col-sm-8 row">{{vm.lieu}}</span>
                            </div>

                            <div class="col-sm-6">
                                <label class="col-sm-4 control-label text-right">Fin d'arr. travail:</label>
                                <span class="col-sm-8">{{vm.dateArretTravail| date}}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12" ng-show="medecin || sp || gu">
                <div class="panel panel-success">
                    <div class="panel-heading">
                        <h4>Avis</h4>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-12">
                                <form class="form-inline" role="form">
                                    <div class="form-group">
                                        <label class="control-label">Nature :</label>
                                        <select class="form-control input-xs" ng-disabled="!medecin" ng-model="vm.natureVM"
                                            ng-options="nature.value as nature.text for nature in natures"></select>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label">Autre :</label>
                                        <input class="form-control input-xs" ng-model="vm.autreNature" type="text" ng-disabled="!medecin">
                                    </div>
                                    <div class="form-group">
                                        <label>
                                            <input type="checkbox" ng-model="vm.amenagement" ng-disabled="!medecin">
                                            Travail réalisable sans aménagement particulier autre que les règles communes de prévention adaptées au poste
                                        </label>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>APTE</label>
                                    <div class="radio radio-inline" ng-class="{desactive:(!medecin)}" style="margin-top:0">
                                        <label ng-class="{desactive:(!medecin)}">
                                            <input type="radio" name="avis" ng-model="vm.apte" value="oui" ng-disabled="!medecin">
                                            OUI
                                        </label>
                                        <label ng-class="{desactive:(!medecin)}">
                                            <input type="radio" name="avis" ng-model="vm.apte" value="non" ng-disabled="!medecin">
                                            NON
                                        </label>
                                        <label ng-class="{desactive:(!medecin)}">
                                            <input type="radio" name="avis" ng-model="vm.apte" value="temporaire" ng-disabled="!medecin">
                                            Inapte temporairement
                                        </label>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label>Vu</label>
                                    <div class="radio radio-inline" ng-class="{desactive:(!medecin)}" style="margin-top:0">
                                        <label ng-class="{desactive:(!medecin)}">
                                            <input type="radio" ng-model="vm.vu" name="vu" value="présentiel" ng-disabled="!medecin">
                                            en présentiel
                                        </label>
                                        &nbsp;&nbsp;
                                        <label ng-class="{desactive:(!medecin)}">
                                            <input type="radio" ng-model="vm.vu" name="vu" value="téléconsultation" ng-disabled="!medecin">
                                            en téléconsultation
                                        </label>
                                    </div>


                                    <span style="margin-left:10px;">
                                        par
                                        <select ng-if="medecin" ng-model="vm.vuPar" ng-options="vuPar for vuPar in vusPar"></select>
                                    </span>


                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <remarques title="observations" ref="vm.id" type="Observation" edit="medecin" data="vm.observations"></remarques>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12" ng-show="medecin || sp">
                <div class="panel panel-danger" id="prescription">
                    <div class="panel-heading">
                        <h4>Autres conclusions pour copie DU et RRH</h4>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <remarques title="autres conclusions" ref="vm.id" type="Conclusion" edit="medecin" data="vm.conclusions"></remarques>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12" ng-show="medecin || sp">
                <div class="panel panel-danger" id="bs">
                    <div class="panel-heading">
                        <h4>Bilan sanguin</h4>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-12 pbs">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <h4 class="pull-left">Prescription Bilan Sanguin : </h4>
                                        <label class="radio-inline">
                                            <input name="bs" type="radio" ng-model="bs" value="true" ng-disabled="!(medecin && btnGenerer)">
                                            OUI
                                        </label>
                                        <label class="radio-inline">
                                            <input name="bs" type="radio" ng-model="bs" value="false" ng-disabled="!(medecin && btnGenerer)">
                                            NON
                                        </label>
                                    </div>
                                    <div class="col-sm-12" ng-show="bs">
                                        <div ng-class="{'bg-danger' : alertTypeBs}">
                                            <label>Type de BS:</label>
                                            <label class="checkbox-inline" ng-repeat="type in typeBS">
                                                <input type="checkbox" ng-model="typeBsSelected[type]" ng-disabled="!(medecin && btnGenerer)">
                                                {{type}}
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <remarques ref="vm.bs" title="Remarques BS" type="Remarque" edit="medecin" ng-show="remarques" data="vm.remarques"></remarques>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-12">
                <div class="panel panel-success">
                    <div class="panel-heading">
                        <h4>Récapitulatif</h4>
                    </div>
                    <div class="panel-body">
                        <div class="col-sm-6">
                            <label class="col-sm-6 control-label text-right">Précédente VM :</label>
                            <span class="col-sm-6">{{vm.dateDerniereVM|date}}</span>
                        </div>
                        <div class="col-sm-6">
                            <label class="col-sm-6 control-label text-right">Courriel Agent :</label>
                            <span class="col-sm-6">{{vm.dateEnvoisCourrierAgent|date}}</span>
                        </div>

                        <div class="col-sm-6">
                            <label class="col-sm-6 control-label text-right">Fiche modifiée le: :</label>
                            <span class="col-sm-6">{{vm.modification|date}}</span>
                        </div>
                        <div class="col-sm-6" ng-show="vm.datePrescriptionBs && (medecin || sp)">
                            <label class="col-sm-6 control-label text-right">BS généré le: :</label>
                            <span class="col-sm-6">{{vm.datePrescriptionBs | date}}</span>
                        </div>
                        <div class="col-sm-6" ng-hide="vm.datePrescriptionBs && (medecin || sp)"></div>
                        <div class="col-sm-6">
                            <button class="btn btn-info btn-xs" ng-show="btnGenerer" ng-click="actionBs(bs)">GÉNÉRER BS</button>
                        </div>
                        <div class="col-sm-6" ng-if=" vm.conclusions.length > 0 && (medecin || sp)" ng-click="emailRuRrh()">
                            <label class="col-sm-6 control-label text-right">Courriel DU + RRH :</label>
                            <span class="col-sm-6">{{vm.dateEnvoisCourrierDURRH|date}}</span>
                        </div>




                        <div class="col-sm-12" style="margin-top:10px;">
                            <label class="col-sm-3 control-label text-right">À revoir avant le </label>

                            <div class="col-sm-2">
                                <span ng-click="medecin && calendrierDerniereVm.open($event)" name="dateProchaineVm" id="dateProchaineVm"
                                    class="form-control input-xs" datepicker-popup="{{calendrierDerniereVm.format}}" is-open="calendrierDerniereVm.opened"
                                    close-text="Fermer" show-button-bar="false" ng-model="vm.dateProchaineVm" value="vm.dateProchaineVm">{{vm.dateProchaineVm|
                                    date}}</span>
                            </div>
                            <label ng-class="{desactive:(!medecin)}">
                                <input type="radio" ng-model="vm.vuProchaineVm" name="vuProchaineVm" value="présentiel" ng-disabled="!medecin">
                                en présentiel
                            </label>
                            &nbsp;&nbsp;
                            <label ng-class="{desactive:(!medecin)}">
                                <input type="radio" ng-model="vm.vuProchaineVm" name="vuProchaineVm" value="téléconsultation" ng-disabled="!medecin">
                                en téléconsultation
                            </label>

                            <span style="margin-left:10px;">
                                par
                                <select ng-if="medecin" ng-model="vm.vuParProchaineVm" ng-options="vuPar for vuPar in vusPar"></select>
                            </span>



                        </div>

                    </div>

                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <a class="btn btn-primary btn-sm" href="pdf/ficheVM?id={{vm.id}}">
            <i class="glyphicon glyphicon-print"></i> Imprimer
        </a>
        <button class="btn btn-danger btn-sm" ng-click="emailAgent()" ng-show=" medecin || sp ">
            <i class="glyphicon glyphicon-envelope"></i> Agent
        </button>
        <button class="btn btn-danger btn-sm" ng-if=" vm.conclusions.length > 0 && ( medecin || sp )" ng-click="emailRuRrh()">
            <i class="glyphicon glyphicon-envelope"></i> DU & RRH
        </button>
        <button type="button" class="btn btn-primary btn-sm" ng-click="ok()" ng-show="medecin">
            <i class="glyphicon glyphicon-floppy-save"></i> Enregistrer
        </button>
        <button class="btn btn-warning btn-sm" ng-click="cancel()">
            <i class="glyphicon glyphicon-remove"></i> Fermer
        </button>
    </div>
</div>