<div class="row">
    <div class="col-lg-12 hidden-print action-barre">
        <button class="btn btn-xs btn-primary" ng-click="archiverTout()">
                <i class="glyphicon glyphicon-inbox"></i> Archiver Tout
        </button>
        <action print-view="true" export-view="true" reload-view="true" reload-action="reload" export-action="csv" csv-name="AttenteArchivage"></action>
    </div>
    <div class="col-md-12">
        <div ng-if="loading" class="loading glyphicon glyphicon-refresh glyphicon-refresh-animate"></div>
        <table ng-table="agentT.ngTable" show-filter="true" class="table table-condensed table-bordered table-hover table-striped" export-csv="csv">
                <tr ng-repeat="agent in $data">
                    <td data-title="'Matricule'" filter="{'matricule':'text'}" sortable="'matricule'">
                        <a class="openModal" ng-click="openAgent(agent.id)">{{agent.matricule}}</a>
                    </td>
                    <td data-title="'Nom'" filter="{'nom':'text'}" sortable="'nom'">{{agent.nom}}</td>
                    <td data-title="'Prénom'" filter="{'prenom':'text'}" sortable="'prenom'">{{agent.prenom}}</td>
                    <td data-title="'Date de sortie'" filter="{'dateSortie':'text'}" sortable="'date_sortie'">{{agent.dateSortie|date}}</td>
                    <td data-title="'Date de VM'" filter="{'vmDate':'text'}" sortable="'vmDate'">{{agent.vmDate|date}}</td>
                    <td data-title="'Site'" filter="{ 'site':'select' }" filter-data="getSites()" sortable="'site'">
                        {{agent.site}}
                    </td>
                    <td data-title="'Unité'" filter="{ 'unite':'select' }" filter-data="getUnites()" sortable="'unite'">
                        {{agent.unite}}
                    </td>
                    <td class="action">
                        <a tooltip-placement="top" tooltip="archiver">
                            <span class="glyphicon glyphicon-inbox text-warning" ng-click="archiver(agent)"></span>
                        </a>
                    </td>
                </tr>
        </table>
    </div>
    <inra-pagination total-items="totalItems" change-page="reload" change-items-per-pages="reload" params="filter"></inra-pagination>
</div>