<div class="row">
    <div class="col-lg-12 hidden-print action-barre">
        <action print-view="true" export-view="true" reload-view="true" export-action="csv" reload-action="reload" csv-name="EncoursAttribueesVM"></action>
    </div>
    <div class="col-md-12">
        <div ng-if="loading" class="loading glyphicon glyphicon-refresh glyphicon-refresh-animate"></div>
        <table ng-table="creneauT.ngTable" show-filter="true" class="table table-hover table-striped table-condensed table-bordered" export-csv="csv">
                <tr ng-repeat="creneau in $data">
                    <td data-title="'Date de VM'" filter="{'date':'text'}" sortable="'date'">{{creneau.date|date}}</td>
                    <td data-title="'Fiche de VM'" filter="{'id':'text'}" sortable="'id'" ><a class="openModal" ng-click="openVm(creneau.id)" >n° : {{creneau.id}}</a></td>
                    <td data-title="'Site'" filter="{'site':'text'}" sortable="'site'">{{creneau.site}}</td>
                    <td data-title="'Créneau'" filter="{'creneau':'text'}" sortable="'creneau'">{{creneau.creneau}}</td>
                    <td data-title="'Matricule'" filter="{'matricule':'text'}" sortable="'matricule'"><a class="openModal" ng-click="openAgent(creneau.idAgent)">{{creneau.matricule}}</a></td>
                    <td data-title="'Nom'" filter="{'nom':'text'}" sortable="'nom'">{{creneau.nom}}</td>
                    <td data-title="'Prénom'" filter="{'prenom':'text'}" sortable="'prenom'">{{creneau.prenom}}</td>
                    <td data-title="'Emploi'" filter="{'libEmploi':'text'}" sortable="'libEmploi'">{{creneau.libEmploi}}</td>
                    
                    <td data-title="'Unité'" filter="{'unite':'text'}" sortable="'unite'">{{creneau.unite}}</td>
                    <td data-title="'Nature de VM'" filter="{'natureVM':'text'}" sortable="'natureVM'">{{creneau.natureVM}}</td>
                    <td data-title="'@ de Convocation'" filter="{'dateConvoc':'text'}" sortable="'dateConvoc'">{{creneau.dateConvoc|date}}</td>
                    <td data-title="'Statut'" filter="{'statut':'text'}" sortable="'statut'">{{creneau.statut}}</td>
                    <td class="action">
                        <a tooltip-placement="top" tooltip="absent" ng-show="sp || medecin">
                            <span class="glyphicon glyphicon-eye-close text-warning" ng-click="absent(creneau)"></span>
                        </a>
                        <a tooltip-placement="top" tooltip="convoquer" ng-show="sp">
                            <span ng-class="{hidden: creneau.sendMail}" class="glyphicon glyphicon-envelope text-primary" ng-click="convoquer(creneau)"></span>
                            <span ng-class="{hidden: !creneau.sendMail}" class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span>
                        </a>
                        <a tooltip-placement="top" tooltip="effacer" ng-show="sp">
                            <span class="glyphicon glyphicon-remove-circle text-danger" ng-click="remove(creneau)"></span>
                        </a>
                    </td>
                </tr>
        </table>
    </div>
    <inra-pagination total-items="totalItems" change-page="reload" change-items-per-pages="reload" params="filter"></inra-pagination>    
</div>