<div class="row" id="droit">
    <div class="col-lg-12 hidden-print action-barre">
        <action reload-view="true" reload-action="reload"></action>
    </div>
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4>
                    Utilisateurs
                    <a tooltip-placement="left" tooltip="Ajouter" class="pull-right">
                        <span class="glyphicon glyphicon-plus" ng-click="utilisateurs.inputView = !utilisateurs.inputView;"></span>
                    </a>
                </h4>
            </div>
            <div class="panel-body">
                <ul class="list-unstyled list-striped">
                    <li>
                        <div class="col-sm-12">
                            <h5 class="col-sm-1">ID</h5>
                            <h5 class="col-sm-3">Identifiant</h5>
                            <h5 class="col-sm-3">Email</h5>
                            <h5 class="col-sm-2">Unité</h5>                           
                            <h5 class="col-sm-2">Profil</h5>
                        </div>
                    </li>
                    <li ng-repeat="u in utilisateurs.data">
                        <div class="col-sm-12" ng-hide="u.edit">
                            <span class="col-sm-1">{{u.id}}</span>
                            <span class="col-sm-3">{{u.identifiant}}</span>
                            <span class="col-sm-3">{{u.email}}</span>
                            <span class="col-sm-2">{{u.unite}}</span>                            
                            <span class="col-sm-2">{{u.profil}}</span>
                            <a tooltip-placement="left" tooltip="modifier">
                                <span class="glyphicon glyphicon-pencil" ng-click="u.edit = !u.edit;
                                        utilisateurs.edit($index);"></span>
                            </a>
                            <a tooltip-placement="top" tooltip="effacer">
                                <span class="glyphicon glyphicon-remove text-danger" ng-click="utilisateurs.remove(u.id, $index)"></span>
                            </a>
                        </div>
                        <div class="col-md-12" ng-show="u.edit">
                            <form class="form-inline" role="form" name="formEdit">
                                <input type="text" class="input-xs col-sm-1" ng-model="u.id" disabled="">
                                <input name="identifiant" type="text" class="input-xs col-sm-2" ng-model="u.identifiant" required>
                                <input name="password" type="password" class="input-xs col-sm-1" ng-model="u.password" required>
                                <input name="email" type="text" class="input-xs col-sm-3" ng-model="u.email" required>
                                <select name="unite" class="input-xs col-sm-2" ng-model="u.unite" ng-options="u for u in unites" ></select>
                                <select name="profil" class="input-xs col-sm-2" ng-options="p for p in profils" ng-model="u.profil" required></select>
                                <div class="col-sm-1">
                                    <a tooltip-placement="top" tooltip="enregistrer">
                                        <span class="glyphicon glyphicon-floppy-save" ng-click="utilisateurs.update($index)"></span>
                                    </a>
                                    <a tooltip-placement="top" tooltip="annuler">
                                        <span class="glyphicon glyphicon-remove-circle text-primary" ng-click="utilisateurs.cancel($index);"></span>
                                    </a>
                                </div>
                            </form>
                        </div>
                    </li>
                    <li ng-show="utilisateurs.inputView">
                        <div class="col-sm-12">
                            <form class="form-inline" role="form" name="formUtilisateur">
                                <input name="identifiant" type="text" class="input-xs col-sm-offset-1 col-sm-2" ng-model="utilisateurs.inputValue.identifiant" placeholder="identifiant" required>
                                <input name="password" type="password" class="input-xs col-sm-1" ng-model="utilisateurs.inputValue.password" placeholder="mot de passe" required>
                                <input name="email" type="email" class="input-xs col-sm-3" ng-model="utilisateurs.inputValue.email" placeholder="email" required>
                                <select name="unite" class="input-xs col-sm-2" ng-model="utilisateurs.inputValue.unite" ng-options="u for u in unites" ></select>
                                <select name="profil" class="input-xs col-sm-2" ng-model="utilisateurs.inputValue.profil" ng-options="p for p in profils" required></select>
                                <button class="btn btn-default btn-sm" ng-class="{hidden: formUtilisateur.$invalid}" ng-click="utilisateurs.add()">
                                    <span class="glyphicon glyphicon-floppy-save text-primary"></span>
                                </button>
                                <a class="btn btn-default btn-sm" ng-click="utilisateurs.inputView = !utilisateurs.inputView;">
                                    <span class="glyphicon glyphicon-remove text-primary"></span>
                                </a>
                            </form>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>