<div class="row">
    <div class="col-lg-12 hidden-print action-barre">
        <label ng-show="access">Choix de nature : </label>
        <select ng-show="access" class="form-control input-xs" ng-model="unite" ng-options="data.valeur for data in listeTypeVM" ng-change="affectAll(unite)" ></select>
        <button ng-show="access" class="btn btn-xs btn-primary" ng-click="saveAll()">
            <i class="glyphicon glyphicon-floppy-save" ></i> Enregistrer tout
        </button>
        <action print-view="true" export-view="true" reload-view="true" reload-action="reload" export-action="csv" csv-name="EncoursATraiterVM"></action>
    </div>
    <div class="col-md-12">
        <div ng-if="loading" class="loading glyphicon glyphicon-refresh glyphicon-refresh-animate"></div>
        <table ng-table="creneauT.ngTable" show-filter="true" class="table table-condensed table-hover table-striped table-bordered" export-csv="csv">
                <tr ng-repeat="creneau in $data">
                    <td data-title="'Date de VM'" filter="{'date':'text'}" sortable="'date'">{{creneau.date|date}}</td>
                    <td data-title="'Site'" filter="{'site':'select'}" filter-data="getSites()" sortable="'site'">{{creneau.site}}</td>
                    <td data-title="'Créneau'" filter="{'creneau':'text'}" sortable="'creneau'">{{creneau.creneau}}</td>
                    <td data-title="'Agent'">
                        <select class="form-control input-xs" ng-class="{'bg-warning': creneau.warning}" ng-change="creneau.natureVM=affectAgent(agents[$index], creneau.agent.id)" ng-options="a as (a.nom + ' ' + a.prenom) for a in agents[$index]" ng-init="getAgentPrioritiare(creneau,$index)" ng-model="creneau.agent"></select>
                    </td>
                    <td data-title="'Unité'" filter="{'unite':'select'}" filter-data="getUnites()" sortable="'unite'">{{creneau.unite}}</td>
                    <td data-title="'Nature de VM'">
                        <select class="form-control input-xs" ng-class="{'bg-warning': creneau.warning}" ng-options="n.valeur for n in listeTypeVM" ng-model="creneau.natureVM"></select>
                    </td>
                    <td class="action" ng-show="access">
                        <a tooltip-placement="top" tooltip="enregistrer">
                            <span class="glyphicon glyphicon-floppy-save text-primary" ng-click="save(creneau, $index);"></span>
                        </a>
                        <a tooltip-placement="top" tooltip="effacer">
                            <span class="glyphicon glyphicon-remove-circle text-danger" ng-click="delete(creneau);"></span>
                        </a>
                    </td>
                </tr>
        </table>
    </div>
    <inra-pagination total-items="totalItems" change-page="reload" change-items-per-pages="reload" params="filter" ></inra-pagination>
</div>