<div class="row import">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading"><h4>Import</h4></div>
            <div class="panel-body">
                <import file-name="WACAT027"></import>
                <import file-name="WADAA06C"></import>
                <import file-name="WACAT078"></import>
            </div>
        </div>
    </div>
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4>Rapport de Vérification</h4>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="col-lg-12 hidden-print action-barre">
                            <action print-view="false" export-view="false" reload-view="true" reload-action="reloadVerif"></action>
                        </div>
                        <table ng-table="verifT.ngTable" class="table table-condensed table-bordered" show-filter="true">
                            <tbody class="table-hover">
                                <tr ng-repeat="file in $data">
                                    <td data-title="'Rapport'" filter="{'id':'text'}" sortable="'id'"><a class="openModal" ng-click="openVerification(file.id)">N° : {{file.id}}</a></td>
                                    <td data-title="'Date'" filter="{'date':'text'}" sortable="'date'">{{file.date|date}}</td>
                                    <td data-title="'Type'" filter="{'type':'text'}" sortable="'type'">{{file.type}}</td>
                                    <td data-title="'Statut'" filter="{'statut':'text'}" sortable="'statut'">{{file.statut}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <inra-pagination total-items="verifT.totalItems" change-page="reloadVerif" change-items-per-pages="reloadVerif" params="verifT.filter"></inra-pagination>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4>Rapport d'Importation</h4>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="col-lg-12 hidden-print action-barre">
                            <action print-view="false" export-view="false" reload-view="true" reload-action="reloadRapport"></action>
                        </div>
                        <table ng-table="rapportT.ngTable" show-filter="true" class="table table-condensed table-bordered" >
                            <tbody class="table-hover">
                                <tr ng-repeat="file in $data">
                                    <td data-title="'Rapport'" filter="{'id':'text'}" sortable="'id'"><a class="openModal" ng-click="openImport(file.id)">N° {{file.id}}</a></td>
                                    <td data-title="'Date'" filter="{'date':'text'}" sortable="'date'">{{file.date|date}}</td>
                                    <td data-title="'type'" filter="{'type':'text'}" sortable="'type'">{{file.type}}</td>
                                    <td data-title="'Statut'" filter="{'statut':'text'}" sortable="'statut'">{{file.statut}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <inra-pagination total-items="rapportT.totalItems" change-page="reloadRapport" change-items-per-pages="reloadRapport" params="rapportT.filter"></inra-pagination>
                </div>
            </div>
        </div>
    </div>
</div>