<div class="row" id="journeaux">
    <div class="col-lg-12 hidden-print action-barre">
        <action reload-action="reload" reload-view="true"></action>
    </div>
    <div class="col-md-12">
        <div ng-if="loading" class="loading glyphicon glyphicon-refresh glyphicon-refresh-animate"></div>
        <table ng-table="journalT.ngTable" show-filter="true" class="table table-condensed table-bordered table-hover table-striped" export-csv="csv">
            <tbody class="table-hover">
                <tr ng-repeat="journal in $data">
                    <td data-title="'Type'" filter="{'typeObject':'select'}" filter-data="getTypes()" sortable="'typeObject'">{{journal.typeObject}}</td>
                    <td class="large" data-title="'Date et heure'" filter="{'date':'text'}" sortable="'date'">{{journal.date|date:'medium'}}</td>
                    <td data-title="'Fiche'" filter="{'ref':'text'}" sortable="'ref'">N° : {{journal.ref!==0?journal.ref:'inconnu'}}</td>
                    <td data-title="'Action'" filter="{'operation':'text'}" sortable="'operation'">{{journal.operation}}</td>                    
                    <td data-title="'Matricule'" filter="{'matricule':'text'}" sortable="'matricule'">{{journal.matricule}}</td>
                    <td data-title="'Nom'" filter="{'nom':'text'}" sortable="'nom'">{{journal.nom}}</td>
                    <td data-title="'Prénom'" filter="{'prenom':'text'}" sortable="'prenom'">{{journal.prenom}}</td>
                    <td class="large" data-title="'Unité'" filter="{'unite':'select'}" filter-data="getUnites()" sortable="'unite'">{{journal.unite}}</td>
                    <td data-title="'Intervenant'" filter="{'user':'select'}" filter-data="getUsers()" sortable="'user'">{{journal.user}}</td>                    
                </tr>
            </tbody>
        </table>
    </div>
    <inra-pagination total-items="totalItems" change-page="reload" change-items-per-pages="reload" params="filter"></inra-pagination>
</div>
