<div class="panel nouveau">
    <div class="row">
        <div class="col-lg-12">
            <agent-form validate="validate" add-error="error" edit="edit" form-data="agent"></agent-form>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 text-right">
            <button class="btn btn-xs btn-primary" ng-click="submit()">
                <i class="glyphicon glyphicon-floppy-save"></i> Enregistrer
            </button>
            <button class="btn btn-xs btn-primary" ng-click="print()">
                <i class="glyphicon glyphicon-print"></i> Imprimer
            </button>
        </div>
    </div>
</div>