<div class="row tableau">
    <div class="col-lg-12 hidden-print action-barre">
        <label>Choix de l'unité : </label>
        <select ng-show="true" class="form-control input-xs" ng-model="unite" ng-options="data.valeur for data in listeUnite" ng-change="affectAll(unite)" ></select>
        <button ng-show="true" class="btn btn-xs btn-primary" ng-click="saveAll()">
            <i class="glyphicon glyphicon-floppy-save" ></i> Enregistrer tout
        </button>
        <button class="btn btn-xs btn-primary" ng-click="openModalDate()">
            <i class="glyphicon glyphicon-plus" ></i> Ajouter des créneaux
        </button>
        <action print-view="true" export-view="true" reload-view="true" reload-action="reload" export-action="csv" csv-name="AProgrammerVM"></action>
    </div>
    <div class="col-md-12">
        <div ng-if="loading" class="loading glyphicon glyphicon-refresh glyphicon-refresh-animate"></div>
        <table ng-table="creneauT.ngTable"  show-filter="true" class="table table-condensed table-bordered table-hover table-striped" export-csv="csv">
            <tr ng-repeat="creneau in $data">
                <td data-title="'Date de VM'" filter="{'date':'text'}" sortable="'date'">{{creneau.date|date}}</td>
                <td data-title="'Site'" filter="{'site':'select'}" filter-data="getSites()" sortable="'site'">{{creneau.site}}</td>
                <td data-title="'Créneau'" filter="{'creneau':'text'}" sortable="'creneau'">{{creneau.creneau}}</td>
                <td data-title="'Unité'">
                    <select class="form-control input-xs" ng-class="{'bg-warning': creneau.warning}" ng-model="creneau.unite" ng-options="u.nom for u in listeUnite"></select>
                </td>
                <td class="action">
                    <a tooltip-placement="top" tooltip="enregistrer">
                        <span class="glyphicon glyphicon-floppy-save text-primary" ng-click="save(creneau, $index)"></span>
                    </a>
                    <a tooltip-placement="top" tooltip="effacer">
                        <span class="glyphicon glyphicon-remove-circle text-danger" ng-click="remove(creneau, $index)"></span>
                    </a>
                </td>
            </tr>
        </table>
    </div>
    <inra-pagination total-items="totalItems" change-page="reload" change-items-per-pages="reload" params="filter" ></inra-pagination>
</div>