<div class="row" id="referentiel">
    <div class="col-lg-12 hidden-print action-barre">
        <action print-view="true" reload-view="true" reload-action="reload"></action>
    </div>
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4>Paramètres
                    <a tooltip-placement="left" tooltip="Ajouter" class="pull-right">
                        <span class="glyphicon glyphicon-plus" ng-click="parametre.inputView = !parametre.inputView;"></span>
                    </a>
                </h4>
            </div>
            <div class="panel-body">
                <ul class="list-unstyled list-striped">
                    <li>
                        <div class="col-sm-12">
                            <h5 class="col-sm-1">ID</h5>
                            <h5 class="col-sm-2">Groupe</h5>
                            <h5 class="col-sm-4">Valeur</h5>
                            <h5 class="col-sm-1">Param1</h5>
                            <h5 class="col-sm-1">Param2</h5>
                            <h5 class="col-sm-1">Param3</h5>
                            <h5 class="col-sm-1">Param4</h5>
                        </div>
                    </li>
                    <li>
                        Filtre par groupe : <input id="filterGroupe" class="form-control input-xs" type="text" ng-model="filterGroupe.groupe">
                    </li>
                    <li ng-repeat="param in parametre.data | filter:filterGroupe:strict ">
                        <div class="col-sm-12" ng-hide="param.edit">
                            <span class="col-sm-1">{{param.id}}</span>
                            <span class="col-sm-2">{{param.groupe}}</span>
                            <span class="col-sm-4">{{param.valeur}}</span>
                            <span class="col-sm-1">{{param.info1}}</span>
                            <span class="col-sm-1">{{param.info2}}</span>
                            <span class="col-sm-1">{{param.info3}}</span>
                            <span class="col-sm-1">{{param.info4}}</span>
                            <a tooltip-placement="top" tooltip="modifier">
                                <span class="glyphicon glyphicon-pencil" ng-click="param.edit = !param.edit;
                                        parametre.edit($index);"></span>
                            </a>
                            <a tooltip-placement="top" tooltip="effacer">
                                <span class="glyphicon glyphicon-remove text-danger" ng-click="parametre.remove(param.id, $index)"></span>
                            </a>
                        </div>
                        <div class="col-md-12" ng-show="param.edit">
                            <form class="form-inline" role="form" name="formEdit">
                                <input type="text" class="input-xs col-sm-1" ng-model="param.id" disabled="">
                                <select name="groupe" class="input-xs col-sm-2" ng-change="selectGroupe(param)" ng-options="groupe for groupe in groupes" ng-model="param.groupe" required></select>
                                <input name="valeur" type="text" class="input-xs col-sm-4" ng-model="param.valeur" required placeholder="{{param.infoValeur}}">
                                <input name="info1" type="text" class="input-xs col-sm-1" ng-model="param.info1" placeholder="{{param.infoParam1}}">
                                <input name="info2" type="text" class="input-xs col-sm-1" ng-model="param.info2" placeholder="{{param.infoParam2}}">
                                <input name="info3" type="text" class="input-xs col-sm-1" ng-model="param.info3" placeholder="{{param.infoParam3}}">
                                <input name="info4" type="text" class="input-xs col-sm-1" ng-model="param.info4" placeholder="{{param.infoParam4}}">
                                <div class="col-sm-1">
                                    <a tooltip-placement="top" tooltip="enregistrer">
                                        <span class="glyphicon glyphicon-floppy-save" ng-click="parametre.update($index)"></span>
                                    </a>
                                    <a tooltip-placement="top" tooltip="annuler">
                                        <span class="glyphicon glyphicon-remove-circle text-primary" ng-click="parametre.cancel($index);"></span>
                                    </a>
                                </div>
                            </form>
                        </div>
                    </li>
                    <li ng-show="parametre.inputView">
                        <form class="form-inline" role="form" name="formNew">
                            <select name="groupe" class="input-xs col-sm-2 col-sm-offset-1" ng-change="selectGroupe(parametre.inputValue)" ng-model="parametre.inputValue.groupe" ng-options="g for g in groupes" required></select>
                            <input name="valeur" type="text" class="input-xs col-sm-4" ng-model="parametre.inputValue.valeur" placeholder="{{parametre.inputValue.infoValeur}}" required>
                            <input name="info1" type="text" class="input-xs col-sm-1" ng-model="parametre.inputValue.info1" placeholder="{{parametre.inputValue.infoParam1}}">
                            <input name="info2" type="text" class="input-xs col-sm-1" ng-model="parametre.inputValue.info2" placeholder="{{parametre.inputValue.infoParam2}}">
                            <input name="info3" type="text" class="input-xs col-sm-1" ng-model="parametre.inputValue.info3" placeholder="{{parametre.inputValue.infoParam3}}">
                            <input name="info4" type="text" class="input-xs col-sm-1" ng-model="parametre.inputValue.info4" placeholder="{{parametre.inputValue.infoParam4}}">
                            <button class="btn btn-default btn-sm" ng-class="{hidden:formNew.$invalid}" ng-click="parametre.add()">
                                <span class="glyphicon glyphicon-floppy-save text-primary"></span>
                            </button>
                            <a class="btn btn-default btn-sm" ng-click="parametre.inputView = !parametre.inputView;">
                                <span class="glyphicon glyphicon-remove text-primary"></span>
                            </a>
                        </form>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4>Unités
                    <a tooltip-placement="left" tooltip="Ajouter" class="pull-right">
                        <span class="glyphicon glyphicon-plus" ng-click="unite.inputView = !unite.inputView;"></span>
                    </a>
                </h4>
            </div>
            <div class="panel-body">
                <ul class="list-unstyled list-striped">
                    <li>
                        <div class="col-sm-12">
                            <h5 class="col-sm-1">ID</h5>
                            <h5 class="col-sm-3">Nom</h5>
                            <h5 class="col-sm-2">Site</h5>
                            <h5 class="col-sm-2">Lieu</h5>
                            <h5 class="col-sm-3">DU</h5>
                        </div>
                    </li>
                    <li ng-repeat="u in unite.data">
                        <div class="col-sm-12" ng-hide="u.edit">
                            <span class="col-sm-1">{{u.id}}</span>
                            <span class="col-sm-3">{{u.nom}}</span>
                            <span class="col-sm-2">{{u.site}}</span>
                            <span class="col-sm-2">{{u.lieu}}</span>
                            <span class="col-sm-3">{{u.DU}}</span>
                            <a tooltip-placement="left" tooltip="modifier">
                                <span class="glyphicon glyphicon-pencil" ng-click="u.edit = !u.edit;
                                        unite.edit($index);"></span>
                            </a>
                            <a tooltip-placement="top" tooltip="effacer">
                                <span class="glyphicon glyphicon-remove text-danger" ng-click="unite.remove(u.id, $index)"></span>
                            </a>
                        </div>
                        <div class="col-md-12" ng-show="u.edit">
                            <form class="form-inline" role="form" name="formEdit">
                                <input type="text" class="input-xs col-sm-1" ng-model="u.id" disabled="">
                                <input name="nom" type="text" class="input-xs col-sm-3" ng-model="u.nom" required xxxng-disabled="u.importer">
                                <select name="site" class="input-xs col-sm-2" ng-options="s.valeur as s.valeur for s in sites" ng-model="u.site" required></select>
                                <select name="lieu" class="input-xs col-sm-2" ng-options="l.valeur as l.valeur for l in lieux" ng-model="u.lieu" required></select>
                                <input name="DU" type="email" class="input-xs col-sm-3" ng-model="u.DU" placeholder="DU" required>
                                <div class="col-sm-1">
                                    <a tooltip-placement="top" tooltip="enregistrer">
                                        <span class="glyphicon glyphicon-floppy-save" ng-click="unite.update($index)"></span>
                                    </a>
                                    <a tooltip-placement="top" tooltip="annuler">
                                        <span class="glyphicon glyphicon-remove-circle text-primary" ng-click="unite.cancel($index);"></span>
                                    </a>
                                </div>
                            </form>
                        </div>
                    </li>
                    <li ng-show="unite.inputView">
                        <div class="col-md-12">
                            <form class="form-inline" role="form" name="formUnite">
                                <input name="nom" type="text" class="input-xs col-sm-3 col-sm-offset-1" ng-model="unite.inputValue.nom" placeholder="valeur" required>
                                <select name="site" class="input-xs col-sm-2" ng-model="unite.inputValue.site" ng-options="s.valeur as s.valeur for s in sites" required></select>
                                <select name="lieu" class="input-xs col-sm-2" ng-model="unite.inputValue.lieu" ng-options="l.valeur as l.valeur for l in lieux" required></select>
                                <input name="DU" type="email" class="input-xs col-sm-3" ng-model="unite.inputValue.DU" placeholder="DU" required>                           
                                <button class="btn btn-default btn-sm" ng-class="{hidden:formUnite.$invalid}" ng-click="unite.add()">
                                    <span class="glyphicon glyphicon-floppy-save text-primary"></span>
                                </button>
                                <a class="btn btn-default btn-sm" ng-click="unite.inputView = !unite.inputView;">
                                    <span class="glyphicon glyphicon-remove text-primary"></span>
                                </a>
                            </form>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>