<div class="statistiques">
    <div class="row">
        <accordion class="col-lg-12" ng-repeat="tableau in tableaux" close-others="oneAtATime">
            <div ng-show="isString(tableau)"><h4>Statistiques : {{tableau.title}} {{tableau}}</h4></div>
            <accordion-group ng-if="!isString(tableau)" is-open="tableau.open">
                <accordion-heading>
                    <h4>Statistiques : {{tableau.title}} <a class="btn btn-default btn-sm export" ng-show="!isString(tableau)" ng-mousedown="exportCsv(tableau);" ng-click="$event.stopPropagation();" >Export csv</a></h4>
                </accordion-heading>
                <table class="table table-streped table-bordered table-hover table-condensed" >
                    <thead>
                        <tr>
                            <th ng-repeat="title in tableau.titles">{{title}}</th>
                        </tr>
                    </thead>
                    <tr ng-repeat="row in tableau.rows track by $index">
                        <td ng-repeat="title in tableau.titles">{{row[title]}}</td>
                    </tr>
                </table>
            </accordion-group>
        </accordion>

    </div>
</div>
