<html ng-app="inra">
    <head ng-controller="HeadCtrl">
        <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{title}}</title>
        <link rel="stylesheet" href="lib/bootstrap/css/bootstrap.css"/>
        <link rel="stylesheet" href="css/main.css" media="screen"/>
        <link href="css/print.css" rel="stylesheet" type="text/css" media="print"/>
        <link rel="icon" type="image/png" href="/img/ico.png" />
        <link rel="shortcut icon" type="image/x-icon" href="/img/ico.ico" />
        <link href="lib/fullcalendar/fullcalendar.css" rel="stylesheet" type="text/css"/>
        <link href="lib/fullcalendar/fullcalendar.print.css" rel="stylesheet" type="text/css"/>
        <link href="lib/ng-table/ng-table.css" rel="stylesheet" type="text/css"/>
        <!-- ******************   script  ******************************  -->
        <script src="lib/jquery/jquery.min.js" type="text/javascript"></script>
        <script src="lib/jquery/jquery-ui.js" type="text/javascript"></script>
        <script src="lib/jquery/jquery.knob.js" type="text/javascript"></script>
        <script src="lib/moment/moment.min.js" type="text/javascript"></script>
        <script src="lib/angular/angular.min.js" type="text/javascript"></script>
        <script src="lib/angular/angular-animate.min.js" type="text/javascript"></script>
        <script src="lib/angular/ngLocale/angular-locale_fr-fr.js" type="text/javascript"></script>
        <script src="lib/angular/angular-route.min.js" type="text/javascript"></script>
        <script src="lib/angular/ui/ui-bootstrap.min.js" type="text/javascript"></script>
        <script src="lib/angular/ui/calendar.js" type="text/javascript"></script>
        <script src="lib/fullcalendar/fullcalendar.min.js" type="text/javascript"></script>
        <script src="lib/fullcalendar/gcal.js" type="text/javascript"></script>
        <script src="lib/fullcalendar/lang-all.js" type="text/javascript"></script>
        <script src="lib/ng-table/ng-table.js" type="text/javascript"></script>
        <script src="lib/ng-table/ng-table-export.js" type="text/javascript"></script>
        <script src="lib/angular-file-upload.min.js" type="text/javascript"></script>
        <!-- Application -->
        <script src="js/app.js" type="text/javascript"></script>
        <script src="js/conf/config.js" type="text/javascript"></script>
        <!-- Controllers -->
        <script src="js/controllers/headCtrl.js" type="text/javascript"></script>
        <script src="js/controllers/menuCtrl.js" type="text/javascript"></script>
        <script src="js/controllers/loginCtrl.js" type="text/javascript"></script>
        <script src="js/controllers/acceuilCtrl.js" type="text/javascript"></script>
        <script src="js/controllers/convoqueCtrl.js" type="text/javascript"></script>
        <script src="js/controllers/tousCtrl.js" type="text/javascript"></script>
        <script src="js/controllers/programmerVMCtrl.js" type="text/javascript"></script>
        <script src="js/controllers/enCourATraiterVMCtrl.js" type="text/javascript"></script>
        <script src="js/controllers/attribueVMCtrl.js" type="text/javascript"></script>
        <script src="js/controllers/effectueVMCtrl.js" type="text/javascript"></script>
        <script src="js/controllers/nouveauCtrl.js" type="text/javascript"></script>
        <script src="js/controllers/archivageCtrl.js" type="text/javascript"></script>
        <script src="js/controllers/archiveCtrl.js" type="text/javascript"></script>
        <script src="js/controllers/prioritaireBSCtrl.js" type="text/javascript"></script>
        <script src="js/controllers/programmerBSCtrl.js" type="text/javascript"></script>
        <script src="js/controllers/convoquerBSCtrl.js" type="text/javascript"></script>
        <script src="js/controllers/effectuerBSCtrl.js" type="text/javascript"></script>
        <script src="js/controllers/importCtrl.js" type="text/javascript"></script>
        <script src="js/controllers/referentielCtrl.js" type="text/javascript"></script>
        <script src="js/controllers/droitCtrl.js" type="text/javascript"></script>
        <script src="js/controllers/journauxCtrl.js" type="text/javascript"></script>
        <script src="js/controllers/statCtrl.js" type="text/javascript"></script>
        <!-- Controllers de modal -->
        <script src="js/controllers/modal/agentCtrl.js" type="text/javascript"></script>
        <script src="js/controllers/modal/dateVMCtrl.js" type="text/javascript"></script>
        <script src="js/controllers/modal/vmCtrl.js" type="text/javascript"></script>
        <script src="js/controllers/modal/verificationCtrl.js" type="text/javascript"></script>
        <script src="js/controllers/modal/rapportImportCtrl.js" type="text/javascript"></script>
        <script src="js/controllers/modal/bsCtrl.js" type="text/javascript"></script>
        <script src="js/controllers/modal/dateBSCtrl.js" type="text/javascript"></script>
        <script src="js/controllers/modal/passwordCtrl.js" type="text/javascript"></script>        
        <!-- Services -->
        <script src="js/services/utils.js" type="text/javascript"></script>
        <script src="js/services/agentService.js" type="text/javascript"></script>
        <script src="js/services/importService.js" type="text/javascript"></script>
        <script src="js/services/uniteService.js" type="text/javascript"></script>
        <script src="js/services/vmService.js" type="text/javascript"></script>
        <script src="js/services/bsService.js" type="text/javascript"></script>
        <script src="js/services/referentielService.js" type="text/javascript"></script>
        <script src="js/services/remarquesService.js" type="text/javascript"></script>
        <script src="js/services/userService.js" type="text/javascript"></script>
        <script src="js/services/journauService.js" type="text/javascript"></script>
        <script src="js/services/statService.js" type="text/javascript"></script>
        <!-- Model -->
        <script src="js/model/menuModel.js" type="text/javascript"></script>
        <script src="js/model/tableModel.js" type="text/javascript"></script>
        <script src="js/model/listeEditModel.js" type="text/javascript"></script>
        <script src="js/filters/minute.js" type="text/javascript"></script>
        <script src="js/model/serviceModel.js" type="text/javascript"></script>
        <script src="js/model/horaireModel.js" type="text/javascript"></script>
        <script src="js/model/filterModel.js" type="text/javascript"></script>
        <!-- filter -->
        <script src="js/filters/minute.js" type="text/javascript"></script>
        <script src="js/filters/heureMinute.js" type="text/javascript"></script>
        <script src="js/filters/table.js" type="text/javascript"></script>
        <!-- directive -->
        <script src="js/directives/knobDirective.js" type="text/javascript"></script>
        <script src="js/directives/agentForm.js" type="text/javascript"></script>
        <script src="js/directives/action.js" type="text/javascript"></script>
        <script src="js/directives/pagination.js" type="text/javascript"></script>
        <script src="js/directives/remarques.js" type="text/javascript"></script>
        <script src="js/directives/import.js" type="text/javascript"></script>
        <!-- script src="js/APP.min.js" type="text/javascript"></script -->
    </head>
    <body>
        <!-- beandeau -->
        <div ng-controller="MenuCtrl">
            <nav class="navbar navbar-default" role="navigation">
                <div class="container-fluid">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <a ng-click="goHome()"><img src="img/logo-INRA-transp-small.png" alt=""/></a>
                        <div class="btn-group visible-xs pull-right" dropdown is-open="status.isopen">
                            <button type="button" class="navbar-toggle collapsed btn btn-primary dropdown-toggle" ng-disabled="disabled">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <ul class="dropdown-menu" role="menu">
                                <li ng-repeat="item in menu.menus" class="mainMenu" ng-class="{active:item.active}">
                                    <a ng-click="menu.selectMenu($index)" href="#/{{item.subMenu[0].link}}">{{item.title}}</a>
                                </li>
                                <li><a><span class="glyphicon glyphicon-log-out"></span></a></li>
                            </ul>
                        </div>
                    </div>
                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" >
                        <ul class="nav navbar-right nav-pills" ng-show='login'>
                            <li ng-repeat="item in menu.menus" class="mainMenu" ng-class="{active:item.active}">
                                <a ng-click="menu.selectMenu($index)" href="#/{{item.subMenu[0].link}}">{{item.title}}</a>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    <span class="glyphicon glyphicon-user"></span>
                                    {{user}}
                                    <span class="caret"></span></a>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a ng-click="openPassword()">Changer de mot de passe</a></li>
                                    <li><a ng-click="logout()">Déconnexion</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div><!-- /.navbar-collapse -->
                </div><!-- /.container-fluid -->
            </nav>
            <tabset ng-show='login'>
                <tab ng-repeat="subMenu in menu.menuActive.subMenu" 
                     ng-click="menu.changeLocation($index)" 
                     heading="{{subMenu.title}}" 
                     active="subMenu.active"
                     class="hidden-print"
                     ng-show="subMenu.view"
                     >
                </tab>
            </tabset>
        </div>
        <div class=" content-view" ng-view></div>
    </body>
</html>
