<div class="block-pagination hidden-print col-md-12">
    <div class="col-md-3">
        Afficher 
        <select class="form-control input-xs"
                ng-model="params.max"
                ng-change="params.offset = (params.currentPage * params.max) - params.max ;changeItemsPerPages()"
                ng-options="value for value in nbPage">
        </select>
        Lignes
    </div>
    <div class="col-md-3 col-md-offset-6">
        <pagination
            ng-change="params.offset = (params.currentPage * params.max) - params.max ;changePage()"
            items-per-page="params.max"
            total-items="totalItems"
            ng-model="params.currentPage"
            max-size="maxSize"
            rotate="false"
            boundary-links="true" 
            previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;">
        </pagination>
    </div>
</div>